.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}
.desktop-recover {
  align-items: flex-start;
  background-color: white;
  border: 1px none;
  display: flex;
  height: 1024px;
  width: 1440px;
}
.img {
  height: 528px;
  width: 899px;
  margin-top: 248px;
  object-fit: cover;
}
.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-top: 291px;
  min-height: 368px;
  position: relative;
  width: 345px;
}
.Tittle-point {
  letter-spacing: 0;
  line-height: 80px;
  margin-left: 30px;
  white-space: nowrap;
}
.group-0001 {
  align-items: flex-start;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 77px;
  min-height: 123px;
  width: 345px;
}
.title-heading {
  letter-spacing: 0;
  line-height: 56px;
  margin-left: 3px;
  margin-top: -1px;
  min-height: 56px;
  white-space: nowrap;
}
.overlap-group {
  height: 46px;
  margin-top: 22px;
  position: relative;
  width: 341px;
}
.retangle {
  background-color: #d3d3d3;
  border: 1px none;
  border-radius: 16px;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 338px;
}
.loremText {
  left: 13px;
  letter-spacing: -0.13px;
  line-height: 16px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 328px;
}
.Button {
  align-items: flex-start;
  background-color: #bd0003;
  border: 1px none;
  border-radius: 16px;
  display: flex;
  height: 40px;
  margin-left: 3px;
  margin-top: 20px;
  min-width: 60px;
  padding: 5px 15px;
}
.Large {
  letter-spacing: 0;
  line-height: 38.5px;
  margin-left: 10px;
  min-height: 22px;
  color: white;
  white-space: nowrap;
}
