.pantalla_a {
  display: contents;
  text-decoration: none;
}
.contenedor-centro-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}
.contenedor-centro-horizontal {
  flex-shrink: 0;
  pointer-events: auto;
}
.valig-texto-medio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tablero-2-administrador {
  align-items: flex - start;
  background-color: silver;
  border: 1px none;
  display: flex;
  height: 1025px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.flexible-columna {
  align-items: flex - start;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  margin-top: 13px;
  min-height: 1473px;
  width: 1230px;
}
.flexible-fila {
  align-items: center;
  display: flex;
  height: 55px;
  min-width: 1217px;
  position: relative;
}
.suspencion-grupo8 {
  align-items: flex - start;
  align-self: flex - end;
  background-color: white;
  border-radius: 16px;
  display: flex;
  height: 49px;
  min-width: 545px;
  padding: 10px 19px;
}
.icono-buscar {
  align-self: center;
  height: 24px;
  margin-bottom: 1px;
  width: 24px;
}
.cuerpo-medio {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 14px;
  min-height: 24px;
  white-space: nowrap;
}
.suspencion-grupo12 {
  border-radius: 16px;
  height: 1408px;
  margin-left: 1px;
  margin-top: 10px;
  position: relative;
  width: 1229px;
}
.principal_-area {
  align-items: flex - start;
  background-color: white;
  border-radius: 16px;
  display: flex;
  height: 1488px;
  justify-content: flex - end;
  left: 0;
  min-width: 1229px;
  padding: 20px 24px;
  position: absolute;
  top: 0;
}
.tablero {
  align-items: flex - start;
  background-color: silver - 2;
  border-radius: 16px;
  display: flex;
  height: 1349px;
  justify-content: flex - end;
  min-width: 888px;
  padding: 13px;
}
.flexible-columna-1 {
  align-items: flex - start;
  display: flex;
  flex-direction: column;
  min-height: 1306px;
  position: relative;
  width: 761px;
}
.etiqueta {
  align-items: flex - start;
  display: flex;
  min-width: 761px;
}
.suspencion-grupo2 {
  align-items: flex - start;
  background-color: white;
  border-radius: 16px;
  display: flex;
  height: 51px;
  min-width: 311px;
  padding: 10px 19px;
}
.icono-buscar-1 {
  align-self: center;
  height: 24px;
  margin-bottom: 3px;
  width: 24px;
}
.suspencion-grupo-1 {
  align-items: flex - start;
  background-color: white;
  border-radius: 16px;
  display: flex;
  height: 51px;
  justify-content: flex - end;
  margin-left: 218px;
  min-width: 107px;
  padding: 13px 3px;
}
.boveda-7 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.suspencion-grupo-2 {
  align-items: flex - start;
  background-color: white;
  border-radius: 16px;
  display: flex;
  height: 51px;
  justify-content: flex - end;
  margin-left: 18px;
  min-width: 107px;
  padding: 13px 3px;
}
.mesa-3 {
  height: 393px;
  margin-left: 6px;
  margin-top: 29px;
  width: 737px;
}
.rectangulo-7 {
  background-color: white;
  border: 1px none;
  border-radius: 16px;
  height: 291px;
  margin-left: 9px;
  margin-top: 74px;
  width: 7px;
}
.flexible-columna-2 {
  align-items: flex - start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 897px;
  width: 336px;
}
.seccion {
  align-items: flex - start;
  background-color: alto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 255px;
  padding: 24px 21px;
  width: 336px;
}
.elipse-6 {
  background-color: concord;
  border: 1px none;
  border-radius: 27.5px;
  height: 55px;
  width: 55px;
}
.elipse-7 {
  background-color: slimy green;
  border: 1px none;
  border-radius: 27.5px;
  height: 55px;
  margin-top: 17px;
  width: 55px;
}
.elipse-9 {
  background-color: steel blue;
  border: 1px none;
  border-radius: 27.5px;
  height: 55px;
  margin-top: 17px;
  width: 55px;
}
.suspencion-grupo-3 {
  align-items: flex - end;
  background-color: alto;
  border-radius: 16px;
  display: flex;
  height: 604px;
  justify-content: flex - end;
  margin-top: 38px;
  min-width: 336px;
  padding: 13px 10px;
}
.elipse-contenedor {
  align-items: flex - start;
  display: flex;
  flex-direction: column;
  min-height: 541px;
  width: 55px;
}
.elipse-9-1 {
  background-color: nugget;
  border: 1px none;
  border-radius: 27.5px;
  height: 55px;
  width: 55px;
}
.elipse {
  background-color: nugget;
  border: 1px none;
  border-radius: 27.5px;
  height: 55px;
  margin-top: 26px;
  width: 55px;
}
.suspencion-grupo-contenedor {
  align-items: flex - start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.33px;
  margin-left: 16px;
  min-height: 535px;
  width: 214px;
}
.suspencion-grupo5 {
  align-items: flex - start;
  background-color: hint - of red;
  border-radius: 16px;
  display: flex;
  height: 49px;
  min-width: 214px;
  padding: 9.4px 8px;
}
.boveda {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.28px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}
.elipse-1 {
  background-color: gravel;
  border: 1px none;
  border-radius: 15px;
  height: 30px;
  margin-left: 67px;
  width: 30px;
}
.suspencion-grupo {
  align-items: flex - start;
  background-color: hint - of red;
  border-radius: 16px;
  display: flex;
  height: 49px;
  margin-top: 32px;
  min-width: 214px;
  padding: 7.4px 8px;
}
.suspencion-grupo-1 {
  align-items: flex - start;
  background-color: hint - of red;
  border-radius: 16px;
  display: flex;
  height: 49px;
  margin-top: 32px;
  min-width: 214px;
  padding: 9.4px 8px;
}
.boveda-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 1px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}
.elipse-1-1 {
  background-color: robins - egg blue;
  border: 1px none;
  border-radius: 15px;
  height: 30px;
  margin-left: 67px;
  width: 30px;
}
.boveda-12 {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0.28px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}
.rectangulo-8 {
  align-self: flex - start;
  background-color: white;
  border: 1px none;
  border-radius: 16px;
  height: 291px;
  margin-left: 13px;
  margin-top: 43px;
  width: 7px;
}
.suspencion-grupo-9 {
  height: 32px;
  left: 961px;
  position: absolute;
  top: 204px;
  width: 214px;
}
.rectangulo-2 {
  background-color: hint - of red;
  border: 1px none;
  border-radius: 16px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 214px;
}
.boveda-5 {
  left: 47px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.suspencion-grupo-10 {
  height: 32px;
  left: 961px;
  position: absolute;
  top: 130px;
  width: 214px;
}
.suspencion-grupo-11 {
  height: 32px;
  left: 961px;
  position: absolute;
  top: 55px;
  width: 214px;
}
.rectangle-22 {
  background-color: hint - of red;
  border: 1px none;
  border-radius: 16px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 214px;
}
.menu {
  align-items: center;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  min-height: 1024px;
  padding: 19px 21px;
  width: 186px;
}
.imagen-1 {
  height: 127px;
  margin-right: 13px;
  object-fit: cover;
  width: 109px;
}
.grupo-25558 {
  align-items: center;
  align-self: flex - start;
  display: flex;
  margin-left: 7px;
  margin-top: 67px;
  min-width: 101px;
}
.icono {
  height: 35px;
  width: 35px;
}
.cuerpo-mediano-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 1px;
  margin-left: 12px;
  min-height: 24px;
  min-width: 52px;
  white-space: nowrap;
}
.grupo-25559 {
  align-items: center;
  display: flex;
  margin-left: 1px;
  margin-top: 49px;
  min-width: 137px;
}
.cuerpo-mediano-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 1px;
  margin-left: 15px;
  min-height: 24px;
  min-width: 85px;
  white-space: nowrap;
}
.grupo-25560 {
  align-items: center;
  display: flex;
  margin-right: 2px;
  margin-top: 49px;
  min-width: 136px;
}
.cuerpo-mediano-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 1px;
  margin-left: 16px;
  min-height: 24px;
  min-width: 83px;
  white-space: nowrap;
}
.grupo-25561 {
  align-items: center;
  align-self: flex - end;
  display: flex;
  margin-top: 49px;
  min-width: 141px;
}
.cuerpo-mediano-4 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 1px;
  margin-left: 16px;
  min-height: 24px;
  min-width: 88px;
  white-space: nowrap;
}
.grupo-25562 {
  align-items: center;
  display: flex;
  margin-right: 37px;
  margin-top: 49px;
  min-width: 101px;
}
.cuerpo-mediano-5 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 16px;
  margin-top: 1px;
  min-height: 24px;
  min-width: 48px;
  white-space: nowrap;
}
.notificacion {
  align-items: flex - end;
  background-color: baby powder;
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  margin-left: 464px;
  min-width: 35px;
  padding: 5px;
}
.icono-1 {
  height: 24px;
  width: 24px;
}
.notification.configuration {
  margin-left: 16px;
}
.message {
  align-items: flex - end;
  background-color: baby powder;
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  margin-left: 16px;
  min-width: 35px;
  padding: 4px;
}
.icono-papel_plano {
  height: 24px;
  width: 24px;
}
.perfil {
  align-items: flex - end;
  background-color: baby powder;
  border-radius: 27.5px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 55px;
  padding: 0 4px;
  width: 55px;
}
.avatar {
  align-items: flex - start;
  border: 1.2px none;
  display: flex;
  margin-right: 3px;
  margin-top: 16px;
  min-width: 40px;
}
.am {
  height: 24px;
  letter-spacing: -0.5px;
  line-height: 24px;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
  width: 40px;
}
.conexion_-estado {
  background-color: malachite;
  border: 1px none;
  border-radius: 7.5px;
  height: 15px;
  width: 15px;
}
.tabla-1 {
  align-items: center;
  display: flex;
  height: 393px;
  margin-top: 18px;
  min-width: 737px;
}
.suspencio-grupo-4 {
  align-self: flex - end;
  height: 394px;
  margin-bottom: -1px;
  position: relative;
  width: 725px;
}
.suspencion-grupo-5 {
  height: 394px;
  left: 0;
  position: absolute;
  top: 0;
  width: 724px;
}
.rectangulo-6 {
  background-color: alto;
  border: 1px none;
  height: 332px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 724px;
}
.rectangulo-9 {
  background-color: slimy green;
  border: 1px none;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 724px;
}
.rectangulo-11 {
  background-color: white;
  border: 1px none;
  border-radius: 16px;
  height: 291px;
  left: 148px;
  position: absolute;
  top: 234px;
  transform: rotate (-90deg);
  width: 7px;
}
.line-25 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 303px;
  width: 723px;
}
.line-24 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 229px;
  width: 723px;
}
.line-23 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 140px;
  width: 723px;
}
.line-22 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 367px;
  width: 723px;
}
.line-17 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 723px;
}
.line-16 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 393px;
  width: 723px;
}
.line-15 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 723px;
}
.line-21 {
  height: 367px;
  left: 604px;
  position: absolute;
  top: 0;
  width: 1px;
}
.line-20 {
  height: 367px;
  left: 466px;
  position: absolute;
  top: 0;
  width: 1px;
}
.line-19 {
  height: 367px;
  left: 311px;
  position: absolute;
  top: 0;
  width: 1px;
}
.line-18 {
  height: 367px;
  left: 152px;
  position: absolute;
  top: 0;
  width: 1px;
}
.line-13 {
  height: 393px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1px;
}
.lorem-ipsum-dolor-si {
  left: 23px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 237px;
  width: 129px;
}
.lorem-ipsum-dolor-si-1 {
  left: 23px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 306px;
  width: 129px;
}
.lorem-ipsum-dolor-si-2 {
  left: 23px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 156px;
  width: 129px;
}
.lorem-ipsum-dolor-si-3 {
  left: 23px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 70px;
  width: 129px;
}
.lorem-ipsum-dolor-si-4 {
  left: 171px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 237px;
  width: 129px;
}
.lorem-ipsum-dolor-si-5 {
  left: 171px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 306px;
  width: 129px;
}
.lorem-ipsum-dolor-si-6 {
  left: 171px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 156px;
  width: 129px;
}
.lorem-ipsum-dolor-si-7 {
  left: 171px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 70px;
  width: 129px;
}
.lorem-ipsum-dolor -si-8 {
  left: 331px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 237px;
  width: 129px;
}
.lorem-ipsum-dolor-si-9 {
  left: 331px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 306px;
  width: 129px;
}
.lorem-ipsum-dolor-si-10 {
  left: 331px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 156px;
  width: 129px;
}
.lorem-ipsum-dolor-si-11 {
  left: 331px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 70px;
  width: 129px;
}
.lorem-ipsum-dolor-si-12 {
  left: 477px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 234px;
  width: 129px;
}
.lorem-ipsum-dolor-si-13 {
  left: 477px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 303px;
  width: 129px;
}
.lorem-ipsum-dolor-si-14 {
  left: 477px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 153px;
  width: 129px;
}
.lorem-ipsum-dolor-si-15 {
  left: 477px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 67px;
  width: 129px;
}
.lorem-ipsum-dolor-si-16 {
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 233px;
  width: 188px;
}
.lorem-ipsum-dolor-si-17 {
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 302px;
  width: 188px;
}
.lorem-ipsum-dolor-si-18 {
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 152px;
  width: 108px;
}
.lorem-ipsum-dolor-si-19 {
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 66px;
  width: 108px;
}
.line-14 {
  height: 393px;
  left: 724px;
  position: absolute;
  top: 0;
  width: 1px;
}
.rectangulo-13 {
  background-color: white;
  border: 1px none;
  border-radius: 16px;
  height: 291px;
  margin-bottom: 20px;
  margin-left: 5px;
  width: 7px;
}
.tabla-1.tabla-2 {
  margin-left: 6px;
  margin-top: 29px;
}
.tabla-1.tabla-2.rectangulo-9 {
  background-color: concord;
}
.grupo-25565 {
  align-items: flex - start;
  display: flex;
  height: 26px;
  left: 26px;
  min-width: 697px;
  position: absolute;
  top: 19px;
}
.boveda-6 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}
.boveda-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 54px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}
.boveda-8 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 54px;
  margin-top: -1px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}
.boveda-10 {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 25px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}
